.ecosystem {
  overflow: unset;
}

.ecoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 30px;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.ecoTitleWrapper {
  width: calc(50% - 15px);
  flex-shrink: 0;
  position: sticky;
  top: 0;

  @media screen and (max-width: 1023px) {
    width: 100%;
    max-width: 70%;
    margin-bottom: 50px;
    position: static;
  }

  @media screen and (max-width: 900px) {
    max-width: none;
  }
}

.ecoTitleArrow {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.ecoTitle {
  font: var(--font-title-2);
}

.ecoArrowIcon {
  width: 62px;
  margin-left: 42px;

  @media screen and (max-width: 1023px) {
    transform: rotate(90deg);
  }

  @media screen and (max-width: 500px) {
    margin-left: 10px;
  }

  @media screen and (max-width: 350px) {
    margin-left: 0;
  }
}

.ecoSubtitle {
  font: var(--font-text-1);
}

.ecoContentWrapper {
  width: calc(50% - 15px);
  border-left: var(--border-white-1);

  @media screen and (max-width: 1023px) {
    width: auto;
    border-left: none;
  }
}

.ecoContentBlock {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-bottom: var(--border-white-1);

  &:first-of-type {
    padding-top: 0;
  }

  @media screen and (max-width: 1023px) {
    border: var(--border-white-1);
    padding: 38px 31px 24px;
    margin-bottom: 30px;

    &:first-of-type {
      padding-top: 38px;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 20px;

    &:first-of-type {
      padding-top: 20px;
    }
  }
}

.ecoBlockTitle {
  font: var(--font-title-2);
  color: var(--color-black);
  text-shadow: var(--text-shadow-white-1);
  margin-bottom: 30px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.ecoSlider {
  max-width: 510px;
  width: 100%;
  position: relative;
  border-left: var(--border-gray-1);
  margin-bottom: 30px;

  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 32px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    right: 0;
    top: 0;
    z-index: 1;
  }

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    max-width: 670px;
  }

  @media screen and (max-width: 767px) {
    max-width: none;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.ecoSlideImage {
  width: 145px;
  height: 145px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-top: var(--border-gray-1);
  border-bottom: var(--border-gray-1);
  border-right: var(--border-gray-1);
}

.ecoBlockSubtitle {
  font: var(--font-text-2);
  margin-bottom: 20px;
}

.ecoTable {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}

.ecoTableItem {
  max-width: calc(33% - 14px);
  width: 100%;

  &.tableItem2 {
    max-width: calc(50% - 10px);
    width: 100%;
  }
}

.ecoTableLabel {
  font: var(--font-text-5);
  color: var(--color-gray-7);
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
  margin-top: auto;
}

.ecoTableValue {
  font: var(--font-text-2);
}

.ecoSlideInfo {
  padding: 10px;
  border-bottom: var(--border-gray-1);
  border-right: var(--border-gray-1);
  overflow: hidden;
}

.ecoSlideLabel {
  font: var(--font-text-3);
}

.ecoSlideName {
  font: var(--font-text-5);
  white-space: nowrap;
}

.litepaper {
  font: var(--font-text-3);
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-white);
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    bottom: 0;
    left: -100%;
    height: 1px;
    background-color: var(--color-white);
    transition: left .2s ease-in;
  }

  &:hover {
    color: var(--color-white);

    &::after {
      left: 0;
    }
  }
}

.litepaperIcon {
  margin-left: 11px;
}

.fraktionArtImage {
  width: 100%;
  margin-bottom: 20px;
  max-width: 300px;
}

.ecoBlockText {
  font: var(--font-text-3);
  margin-bottom: 20px;
}