.root {
  padding: 22px 40px 22px 0;
  border-bottom: 1px solid var(--color-gray-1);
  font-size: 18px;
}

.upgradeButton {
  display: inline-block;
}

.boldText {
  font-weight: 600;
}

.questionText {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .root {
    padding: 22px 24px 22px 0;
  }
}
