.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--color-black);
  transition: top .2s ease-out;
  z-index: 90;
  border-bottom: var(--border-gray-1);
}

.hasCustomHeader {
  border-bottom: none;
}

.container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 500px) {
    height: 36px;
  }
}

.profileWrapper {

  .walletBtn {
    width: 167px;
    height: 70px;
    font: var(--font-text-3);
    justify-content: center;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      width: 138px;
    }

    @media screen and (max-width: 500px) {
      font-size: 10px;
      height: 36px;
      width: 96px;
    }
  }

  .walletConnectedBtn {
    background-color: var(--color-dark);
    color: var(--color-white);

    &:hover {
      svg path {
        fill: var(--color-black)
      }
    }
  }

  @media screen and (max-width: 1023px) {
    margin-left: auto;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .navigationWrapper {
    display: none;
  }
}