.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  z-index: 91;

  @media screen and (max-width: 500px) {
    top: 36px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

.itemsContainer {
  max-width: 315px;
  border: var(--border-gray-1);
  display: grid;
  grid-template-columns: repeat(3, 105px);
  position: absolute;
  top: 14px;
  right: 0;
  background-color: var(--color-black);

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-left: var(--border-gray-1);
    border-top: var(--border-gray-1);
    background-color: var(--color-black);
    transform: rotate(45deg);
    position: absolute;
    right: 20%;
    top: -11px;
    z-index: 1;
  }

  @media screen and (max-width: 1200px) {
    right: 15px;
  }

  @media screen and (max-width: 340px) {
    grid-template-columns: repeat(2, 105px);
    max-width: 250px;
  }
}

.walletItemContainer {
  padding-top: 22px;
  padding-bottom: 22px;
  cursor: pointer;
  transition: background-color .1s ease-in;
  position: relative;
  z-index: 2;

  &:hover {
    background-color: var(--color-dark);
  }
}

.walletItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font: var(--font-text-7);

  img {
    max-width: 35px;
    width: 100%;
  }
}
