**/*{.,-}min.js
**/*.sh
coverage/**
dist/*
images/*
node_modules/*
node_modules*/*
assets/*
docs/*
**/*.config.js
**/*.bundle.js
**/*.spec.js
deploy.js
zip.js
flow-typed/*
.serverless
build
libs
serviceWorker.js
cypress/*