.whatContainer {
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.whatImgWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 55%;
  z-index: -1;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 35%;
    height: 100%;
    top: 0;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  @media screen and (max-width: 767px) {
    position: static;
    max-width: none;
    order: 1;
    margin-top: -200px;
  }

  @media screen and (max-width: 550px) {
    margin-top: -100px;
  }

  @media screen and (max-width: 400px) {
    margin-top: -50px;
  }
}

.rainbowImg {
  width: 100%;
}

.whatInfo {
  margin-left: auto;
  max-width: 50%;
  padding-left: 17px;
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: none;
  }
}

.whatTitle {
  font: var(--font-title-2);
  margin-bottom: 50px;
}

.whatSubtitle {
  font: var(--font-text-1);
}

.whatText {
  font: var(--font-text-2);
  margin-top: 30px;

  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }
}