@import '../../scss/abstracts/variables.scss';

.root {
  width: calc(250px * 3) !important;
  max-width: 100% !important;
  height: calc(250px * 2) !important;
  padding: 0 !important;
  :global {
    .ant-modal-content {
      background: $color-black;
      border: 1px solid $color-gray-1;
      height: 100%;
      border-radius: 0;
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-modal-body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .ant-modal-close {
      top: 10px;
      right: 10px;
      position: fixed;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.wrap {
  background: $color-black;
}

.walletItem {
  width: 250px;
  height: 250px;
  color: $color-white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-right: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;
  color: transparentize($color-white, 0.5);
  transition: color 0.2s ease-in;

  &:nth-child(3n + 3) {
    border-right: none;
  }

  &:hover {
    color: $color-white;
    // img {
    //   opacity: 1;
    // }
  }

  img {
    // opacity: 0.5;
    // transition: opacity 0.2s ease-in;
    width: 100px;
    margin-bottom: 1rem;
  }
}
