.root {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: calc(100% - 120px);
}

.pageTitle {
  font: var(--font-title-2);
  margin-bottom: 50px;
}

.tableContainer {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    border-bottom: 1px solid var(--color-gray-1);
    padding-top: 0;
  }
}

.table {
  max-width: 720px;
}

@media screen and (max-width: 1023px) {
  .root {
    display: flex;
    flex-direction: column;
    height: unset;
  }
}
