@import '../../scss/abstracts/variables.scss';

$button-font-size: 1.75rem;

.root {
  font-family: $font-family;
  font-size: $button-font-size;
  cursor: pointer;
  color: $color-white;
  transition: 0.2s ease-in;
  background: none;
  border: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-gray-2;
  }
}

.arrow {
  margin-left: calc(#{$button-font-size} / 6 * 6);
  height: calc(#{$button-font-size} / 2);
}
