@import '../../scss/abstracts/variables.scss';

$button-font-size-md: 1.75rem;
$button-font-size-sm: 1.25rem;

.root {
  font-family: $font-family;
  font-size: $button-font-size-md;
  cursor: pointer;
  color: $color-white;
  transition: 0.2s ease-in;
  background: none;
  border: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-gray-2;
  }

  svg {
    margin-left: calc(#{$button-font-size-md} / 6 * 6);
    height: calc(#{$button-font-size-md} / 2);
  }
}

.sm {
  font-size: $button-font-size-sm;
  svg {
    margin-left: calc(#{$button-font-size-sm} / 6 * 6);
    height: calc(#{$button-font-size-sm} / 2);
  }
}

.arrowLeft {
  svg {
    transform: rotate(180deg);
    margin-right: calc(#{$button-font-size-sm} / 6 * 6);
    margin-left: 0;
  }
}
