.root {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: 0.2s ease-in;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-2);
    color: var(--color-black);
  }

  & svg {
    fill: var(--color-black);
  }

  &.sm {
    padding: 3px 6px;

    & svg {
      margin-right: 3px;
    }
  }

  &.md {
    padding: 5px 10px;

    & svg {
      margin-right: 5px;
    }
  }

  &.lg {
    padding: 7px 14px;

    & svg {
      margin-right: 7px;
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
