@import '../../scss/abstracts/variables.scss';

.root {
  padding: 40px;
  border-bottom: 1px solid $color-gray-1;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
}

.separator {
  margin: 0 12px;
  width: 150px;
  border-bottom: 1px dashed $color-white;
}

.inputLabel {
  cursor: pointer;
  margin-right: 15px;
  font-size: 18px;
  display: flex;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $color-white;
    margin-right: 7px;
    transition: brrackground 0.2s ease-in;
  }

  input {
    display: none;
  }
}

.inputLabelActive {
  &::before {
    background: $color-white;
  }
}

@media screen and (max-width: 768px) {
  .root {
    padding: 24px 24px 20px;
  }

  .title {
    font-size: 16px;
  }

  .inputLabel {
    font-size: 14px;
    margin-right: 10px;

    &::before {
      width: 14px;
      height: 14px;
      margin-right: 7px;
      transition: brrackground 0.2s ease-in;
    }
  }

  .separator {
    margin: 0 14px;
    width: 72px;
  }
}
