.wrapper {
  display: flex;
  margin-top: -20px;
}

.sidebar {
  max-width: 214px;
  width: 100%;
  border-right: var(--border-gray-1);
}

.sidebarItem {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: var(--border-gray-1);

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.sidebarTitle {
  font: var(--font-text-5);
  margin-bottom: 5px;
  text-transform: uppercase;

  span {
    text-transform: lowercase;
  }
}

.sidebarSubtitle {
  font: var(--font-text-5);
  color: var(--color-gray-7);
  text-transform: uppercase;
}

.sidebarList {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-gray-8);
}

.sidebarListBorder {
  margin-top: 10px;
  border-radius: 10px;
  border: var(--border-gray-1);
  overflow: hidden;
}

.sidebarListItem,
.sidebarActivityListItem {
  border-bottom: var(--border-gray-1);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.sidebarListItem:first-of-type {
  padding-top: 0;
}

.sidebarActivityListItem {
  padding: 9px;
  justify-content: space-between;

  &:last-of-type {
    border-bottom: none;
  }
}

.sidebarItemNum {
  margin-right: 5px;
}

.sidebarItemImg {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 5px;
  background-color: var(--color-gray-7);
}

.sidebarItemData {
  margin-left: auto;
}

.sidebarItemName {
  margin-right: 10px;
}

.typeLabel {
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-weight: bold;
  width: 38px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-gray-1);
  color: var(--color-gray-7);
  flex-shrink: 0;
}

.sell {
  background: linear-gradient(90deg, rgba(255, 102, 102, 0.36) 0%, rgba(255, 102, 102, 0) 93.75%);

  .typeLabel {
    border-color: var(--red-error-color);
    color: var(--red-error-color);
  }
}

.buy {
  background: linear-gradient(90deg, rgba(131, 214, 164, 0.36) 0%, rgba(131, 214, 164, 0) 93.75%);

  .typeLabel {
    border-color: var(--green-color);
    color: var(--green-color);
  }
}

.swap {
  background: linear-gradient(90deg, rgba(62, 158, 248, 0.36) 0%, rgba(62, 158, 248, 0) 93.75%);

  .typeLabel {
    border-color: var(--blue-color);
    color: var(--blue-color);
  }
}

.swapItems {
  display: flex;
  flex-direction: column;

  svg {
    margin: 7px auto;
  }
}

.seeMoreLink {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  position: relative;
  overflow: hidden;
  margin-top: 11px;

  svg {
    width: 9px;
    height: 9px;
    margin-left: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    left: -100%;
    height: 1px;
    background-color: var(--color-white);
    transition: left 0.2s ease-in;
  }

  &:hover {
    color: var(--color-white);

    &::after {
      left: 0;
    }
  }
}


// Content

.content {
  padding-top: 44px;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 100%;
}

.title {
  font: var(--font-title-2);
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

  :global {
    .ant-input-affix-wrapper {
      border-left: none;
      border-right: none;
      border-top: none;
      padding-left: 1px;
      border-bottom: 1px solid var(--color-gray-03);
    }
  }
}

.searchInput {
  font: var(--font-text-3);
  max-width: 280px;
  outline: none;

  &::placeholder {
    color: var(--color-gray-03);
  }
}

.searchIcon {
  margin-right: 5px;

  svg {
    width: 14px;
    color: var(--color-gray-03);
  }
}

.sortingSelect {
  span {
    color: var(--color-white);
  }
}

.sortingSelectValueContainer {
  svg {
    position: relative;
    top: 2px;

    path {
      stroke: var(--dark-blue-color) !important;
    }
  }

  .sortName {
    color: var(--dark-blue-color);
  }
}

.sortWrapper {
  max-width: 280px;

  .arrowDown,
  .arrowUp {
    path {
      stroke: var(--color-white);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}