.layout {
  overflow: hidden;
  max-width: 100vw;
}

.wrapper {
  display: flex;
  margin-top: 23px;

  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.content {
  padding-bottom: 50px;
  padding-left: 20px;
  width: 100%;

  @media screen and (max-width: 700px) {
    margin-left: 30px;
    padding-left: 15px;
  }
}

.title {
  font: var(--font-title-2);
  color: var(--color-white);
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

  @media screen and (max-width: 370px) {
    flex-wrap: wrap;
  }

  :global {
    .ant-input-affix-wrapper {
      border-left: none;
      border-right: none;
      border-top: none;
      padding-left: 1px;
      border-bottom: 1px solid var(--color-gray-03);
    }
  }
}

.searchInput {
  font: var(--font-text-3);
  max-width: 280px;
  outline: none;
  margin-right: 20px;
  flex-shrink: 3;

  @media screen and (max-width: 370px) {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: var(--color-gray-03);
  }
}

.searchIcon {
  margin-right: 5px;

  svg {
    width: 14px;
    color: var(--color-gray-03);
  }
}

.sortingSelect {
  span {
    color: var(--color-white);
  }
}

.sortingSelectValueContainer {
  svg {
    position: relative;
    top: 2px;

    path {
      stroke: var(--dark-blue-color) !important;
    }
  }

  .sortName {
    color: var(--dark-blue-color);
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    path {
      stroke: var(--color-white);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}

