@import '../../../../scss/abstracts/variables.scss';

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center;

  p {
    position: relative;
    font-size: 24px;
    color: $color-gray-2;
  }
}

.title {
  font-size: 120px;
  text-transform: uppercase;
}

.scrollBottomButton {
  position: absolute;
  bottom: -72px;
  left: calc(50% - 36px);
  transform: rotate(90deg);
  color: $color-gray-1;
  svg {
    width: 72px;
  }

  &:hover {
    color: $color-gray-2;
  }
}
