@import '../../scss/abstracts/variables.scss';

.appMain {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .appMain {
    min-height: calc(100vh - 73px);
  }
}

//? Header

.header {
  padding: 40px 0 0;

  &__backButton {
    padding: 0 40px 20px;
    color: $color-gray-3;
    transition: color 0.2s ease-in;

    &_hidden {
      visibility: hidden;
    }
  }

  &__titleWrapper {
    font-size: 24px;
    padding: 0 40px 40px;
    border-bottom: 1px solid $color-gray-1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__stepName {
    font-size: 36px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 24px 0 0;

    &__backButton {
      padding: 0 24px 18px;
    }

    &__titleWrapper {
      font-size: 18px;
      padding: 0 24px 24px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__stepName {
      font-size: 24px;
    }

    &__stepCounter {
      margin-top: 8px;
      color: $color-gray-4;
    }
  }
}

//? Popup container

.popupContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid $color-gray-3;
  background: $color-black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  z-index: 3;

  &__selectDeselectButton {
    background: none;
    display: inline-block;
    color: $color-white;
    outline: none;
    border: none;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
  }
}

//? SelectStep

.selectStep {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &__frakts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__preloader {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1023px) {
  .selectStep {
    &__frakts {
      grid-template-columns: 1fr 1fr;
    }
    &__preloader {
      min-height: calc(100vh - 210px);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .selectStep {
    &__frakts {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

//? fraktCheckbox

.fraktCheckbox {
  cursor: pointer;
  border-right: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;
  position: relative;
  color: $color-white;
  user-select: none;
  -webkit-user-drag: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($color-gray-1, 0.4);
    z-index: 2;
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &__img {
    position: relative;
  }

  &__info {
    position: relative;
    padding: 32px 40px;
  }

  &_selected {
    &:hover {
      &::before {
        display: none;
      }
    }
    .fraktCheckbox__img {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($color-gray-1, 0.4);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        content: 'selected';
      }
    }

    .fraktCheckbox__info {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($color-gray-1, 0.4);
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .fraktCheckbox {
    &__info {
      padding: 18px 22px;
    }
  }
}

//? Attention step

.attentionStep {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  &__title {
    font-size: 64px;
    color: $color-white;
    margin-bottom: 12px;
    text-align: center;
  }

  &__text {
    font-size: 24px;
    color: $color-gray-4;
    margin-bottom: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .attentionStep {
    padding: 0 24px;
    &__title {
      font-size: 48px;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 18px;
    }
  }
}

//? Approve step

.approveStep {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    color: $color-gray-4;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .approveStep {
    height: calc(100vh - 218px);
  }
}

@media screen and (max-width: 575px) {
  .approveStep {
    &__title {
      font-size: 22px;
      margin-bottom: 6px;
    }

    &__subtitle {
      font-size: 15px;
    }
  }
}

//? Staking page

.stakingPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 140px;
    text-transform: uppercase;
  }

  &__preloader {
    flex-grow: 1;
  }

  &__content {
    flex-grow: 1;
    display: grid;
    gap: 1px;
    background: $color-gray-1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__infoTable {
    width: 100%;
    margin-bottom: 12px;
  }

  &__stakeWrapper,
  &__unstakeWrapper,
  &__harvestWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 60px;
    background: $color-black;
  }

  &__stakeWrapper {
    grid-column: 1 / 1;
  }

  &__unstakeWrapper {
    grid-column: 1 / 1;
  }

  &__harvestWrapper {
    grid-column: 2 / 2;
    grid-row: 1/ -1;
  }
}

@media screen and (max-width: 1023px) {
  .stakingPage {
    height: calc(100vh - 73px);
  }
}

@media screen and (max-width: 767px) {
  .stakingPage {
    height: calc(100vh - 73px);

    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding: 0;
    }

    &__stakeWrapper,
    &__unstakeWrapper,
    &__harvestWrapper {
      padding: 24px;
    }

    &__stakeWrapper {
      grid-column: unset;
      grid-row: 2 / 2;
    }

    &__unstakeWrapper {
      grid-column: unset;
      grid-row: 3 / 3;
    }

    &__harvestWrapper {
      grid-column: unset;
      grid-row: 1 / 1;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .stakingPage {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &__stakeWrapper {
      grid-column: unset;
      grid-row: 2 / 3;
    }

    &__unstakeWrapper {
      grid-column: unset;
      grid-row: 3 / 3;
    }

    &__harvestWrapper {
      grid-column: unset;
      grid-row: 1 / 2;
    }
  }
}
