@import '../abstracts/variables.scss';

/* width */
::-webkit-scrollbar {
  width: $scroll-bar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-white;
}

@media screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: unset;
  }
}
