@import '../abstracts/variables.scss';

/* width */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

@media screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
