.howWorkTitle {
  font: var(--font-title-2);
  text-align: center;
  margin-bottom: 100px;

  @media screen and (max-width: 900px) {
    margin-bottom: 50px;
  }
}

.buttonsWrapper {
  display: flex;
  margin-bottom: 35px;

  @media screen and (max-width: 900px) {
    margin-bottom: 50px;
  }
}

.howWorkLink {
  width: 50%;
  border: var(--border-gray-1);
  font: var(--font-text-3);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 19px 24px;
  transition: background-color .3s ease-in, color .3s ease-in;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
}

.howWorkSubtitle {
  font: var(--font-text-1);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.howWorkImage {
  width: 100%;
}