@import '../../scss/abstracts/variables.scss';

.root {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  overflow-y: hidden;
}

.sideBar {
  border-right: 1px solid $color-gray-1;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  overflow-y: scroll;
}

.logoWrapper {
  border-bottom: 1px solid $color-gray-1;
  padding: 3rem;
}

.profileWrapper {
  padding: 3rem;
}

.navigationWrapper {
  border-top: 1px solid $color-gray-1;
  padding: 3rem;
}

.footer {
  padding-top: 2rem;
}

.header {
  padding: 3rem;
  border-bottom: 1px solid $color-gray-1;
  font-size: 2.5rem;
}
