.root {
  height: 100vh;
  overflow-y: hidden;
}

.main {
  overflow-y: scroll;
  position: relative;
  max-height: 100vh;
  padding-top: 110px;
}

.profileWrapper {
  padding: 40px;
}

.navigationWrapper {
  border-top: 1px solid var(--color-gray-1);
  padding: 40px;
}

.footer {
  padding-top: 30px;
}

.header {
  &.headerHide {
    top: -70px;
    transition: top .3s ease-in;

    @media screen and (max-width: 500px) {
      top: -36px;
    }
  }
}

.subHeader {
  padding: 40px;
  border-bottom: 1px solid var(--color-gray-1);
  font-size: 36px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .root {
    display: block;
    height: unset;
    overflow-y: unset;
  }
}
