@import '../../../../scss/abstracts/variables.scss';

.title {
  font-size: 72px;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .title {
    font-size: 52px;
  }
}
