@import '../../../../scss/abstracts/variables.scss';

.title {
  font-size: 72px;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}
