:root {
  --color-dark: #111111;
  --color-black: #000;
  --color-white: #ffffff;

  --color-gray-2: rgba(255, 255, 255, 0.75);
  --color-gray-1-01: rgba(30, 30, 30, 0.1);
  --color-gray-1-04: rgba(30, 30, 30, 0.4);
  --color-gray-03: rgba(255, 255, 255, 0.3);
  --color-gray-05: rgba(255, 255, 255, 0.5);
  --color-dark-06: rgba(0, 0, 0, 0.6);
  --color-gray-1: #1e1e1e;
  --color-gray-3: #404040;
  --color-gray-4: #929292;
  --color-gray-5: #b4b4b4;
  --color-gray-6: #c4c4c4;
  --color-gray-7: #4d4d4d;

  --red-color: #f83e3e;
  --red-error-color: #FF6666;
  --green-color: #83D6A4;
  --darken-green-color: #4B9B6B;

  --border-gray-1: 1px solid #4d4d4d;
  --border-white-1: 1px solid #ffffff;
  --text-shadow-white-1: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  --font-family-oxanium: 'Oxanium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

  --font-family-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

  --scroll-bar-width: 10px;

  --font-title-1: 900 120px var(--font-family-inter);
  --font-title-2: 600 48px var(--font-family-oxanium);
  --font-text-1: 400 32px var(--font-family-oxanium);
  --font-text-2: 400 24px var(--font-family-oxanium);
  --font-text-3: 400 18px var(--font-family-oxanium);
  --font-text-4: 400 24px var(--font-family-inter);
  --font-text-5: 700 14px var(--font-family-oxanium);
  --font-text-6: 700 12px var(--font-family-oxanium);
  --font-text-7: 700 10px var(--font-family-oxanium);



  @media screen and (max-width: 1023px) {
    --font-title-1: 900 90px var(--font-family-inter);
  }

  @media screen and (max-width: 900px) {
    --font-title-1: 900 70px var(--font-family-inter);
    --font-title-2: 600 40px var(--font-family-oxanium);
    --font-text-1: 400 28px var(--font-family-oxanium);
    --font-text-2: 400 20px var(--font-family-oxanium);
  }

  @media screen and (max-width: 767px) {
    --font-title-1: 900 32px var(--font-family-inter);
    --font-title-2: 600 32px var(--font-family-oxanium);
    --font-text-1: 400 24px var(--font-family-oxanium);
    --font-text-2: 400 18px var(--font-family-oxanium);
  }

  @media screen and (max-width: 500px) {
    --font-text-1: 400 18px var(--font-family-oxanium);
    --font-text-2: 400 15px var(--font-family-oxanium);
  }
}
