$color-dark: #181818;
$color-black: #000;
$color-white: #ffffff;

$color-gray-1: #1e1e1e;
$color-gray-2: rgba(255, 255, 255, 0.75);
$color-gray-3: #404040;
$color-gray-4: #929292;
$color-gray-5: #b4b4b4;
$color-gray-6: #c4c4c4;

$color-akash-red: #d94934;
$color-solana-green: #00ffbd;

$font-family: 'Oxanium', cursive;
$font-size: 14px;

$scroll-bar-width: 10px;
