$color-dark: #181818;
$color-black: #000;
$color-white: #FFFFFF;


$color-gray-1: #1e1e1e;
$color-gray-2: rgba(255, 255, 255, 0.75);
$color-gray-3: rgba(255, 255, 255, 0.25);


$font-family: 'Oxanium', cursive;
$font-size: 16px;

$scroll-bar-width: 10px;