.poolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;

  @media screen and (max-width: 550px) {
    gap: 20px;
  }
}

.poolCard {
  max-width: 300px;
  flex-shrink: 1;
  width: calc(25% - 19px);
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-gray-03);

  @media screen and (max-width: 1200px) {
    width: calc(33.33% - 17px);
  }

  @media screen and (max-width: 900px) {
    width: calc(50% - 13px);
  }

  @media screen and (max-width: 550px) {
    width: calc(50% - 10px);
  }

  @media screen and (max-width: 370px) {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    right: -10px;
    bottom: -10px;
    border: 1px solid var(--color-gray-03);
    z-index: -1;

    @media screen and (max-width: 550px) {
      right: -6px;
      bottom: -6px;
    }
  }
}

.poolImgWrapper {
  position: relative;
  border-bottom: 1px solid var(--color-gray-03);
}

.poolImage {
  height: 270px;
  width: 100%;
  object-fit: cover;

  @media screen and (max-width: 550px) {
    height: 200px;
  }

  @media screen and (max-width: 450px) {
    height: 135px;
  }

  @media screen and (max-width: 370px) {
    height: 200px;
  }
}

.poolShadow {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 8px;
  padding: 23px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

  @media screen and (max-width: 550px) {
    gap: 5px;
    padding: 11px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.poolInfoLabel {
  padding: 6px 8px;
  border: 1px solid var(--color-gray-03);
  font: var(--font-text-7);
  text-transform: uppercase;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 550px) {
    font-size: 9px;
  }
}

.cardContentWrapper {
  padding: 24px;

  @media screen and (max-width: 550px) {
    padding: 11px;
  }
}

.poolTokenInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: 550px) {
    margin-bottom: 10px;
  }
}

.tokenImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-color: var(--color-gray-1);
  margin-right: 10px;

  @media screen and (max-width: 550px) {
    width: 19px;
    height: 19px;
  }
}

.tokenName {
  font: var(--font-text-2);
}

.priceLabel {
  font: var(--font-text-7);
  color: var(--color-gray-7);
  text-transform: uppercase;
}

.priceWrapper {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;

  @media screen and (max-width: 550px) {
    margin-top: 5px;
  }

  svg {
    margin-left: 10px;
    margin-right: 5px;
  }
}