@import '../../scss/abstracts/variables.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1023px) {
  .root {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .root {
    grid-template-columns: 1fr 1fr 1fr;
  }
}