@import '../../scss/abstracts/variables.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .root {
    grid-template-columns: 1fr 1fr;
  }
}
