@import '../../../../scss/abstracts/variables.scss';

.root {
  padding: 40px 0 0;
}

.title {
  font-size: 36px;
  padding: 0 40px 40px;
  border-bottom: 1px solid $color-gray-1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.backButton {
  padding: 0 40px 40px;
  color: $color-gray-3;
}

.buttonsWrapper {
  display: flex;

  & :nth-child(1),
  & :nth-child(2) {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .root {
    padding: 24px 0 0;
  }
  .title {
    font-size: 24px;
    padding: 0 24px 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .backButton {
    padding: 0 24px 18px;
    color: $color-gray-3;
  }

  .buttonsWrapper {
    margin-top: 8px;
  }
}
