@import '../../../../scss/abstracts/variables.scss';

.root {
  padding: 40px 0 0;
}

.title {
  font-size: 36px;
  padding: 0 40px 40px;
  border-bottom: 1px solid $color-gray-1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  padding: 0 40px 40px;
  color: $color-gray-3;
}

.shareButtonsWrapper {
  display: flex;

  & :first-child {
    margin-right: 12px;
  }
}
