.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  svg {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
