@import '../../scss/abstracts/variables.scss';

.root {
  display: flex;
  & li {
    font: var(--font-text-3);
    padding-left: 16px;
    padding-right: 16px;
  }
}

.link {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }
}

.activeLink {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    width: 4px;
    height: 36px;
    background: var(--color-white);
  }
}
