@import '../../scss/abstracts/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  & li {
    font-size: 36px;
    line-height: 56px;
  }
}

.link {
  text-decoration: none;
  color: $color-white;
  display: block;
  cursor: pointer;

  &:hover {
    color: $color-white;
  }
}

.activeLink {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    width: 4px;
    height: 36px;
    background: $color-white;
  }
}
