.wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  padding-top: 110px;
  overflow: auto;
  background: var(--color-dark-06);
  backdrop-filter: blur(16px);
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.menuOverlayHidden {
    display: none;
  }

  @media screen and (max-width: 500px) {
    padding-top: 76px;
  }
}

.burgerIcon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .centerIconLine {
    width: 30px;
    height: 2px;
    background: var(--color-white);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  }

  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: var(--color-white);
    position: absolute;
    top: 4px;
    left: 0;
    transition: transform 0.2s ease-in, top 0.2s ease-in;
  }

  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: var(--color-white);
    position: absolute;
    bottom: 4px;
    left: 0;
    transition:  transform 0.2s ease-in, bottom 0.2s ease-in;
  }

  &.opened {

    &::before {
      transform: rotate(-45deg);
      top: 14px;
    }

    &::after {
      transform: rotate(45deg);
      bottom: 14px;
    }

    .centerIconLine {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  @media screen and (max-width: 500px) {
    width: 20px;
    height: 20px;

    .centerIconLine {
      height: 1px;
      width: 20px;
    }

    &::before {
      width: 20px;
      height: 1px;
    }

    &::after {
      width: 20px;
      height: 1px;
      bottom: 3px;
    }

    &.opened {

      &::before {
        top: 10px;
      }

      &::after {
        bottom: 9px;
      }
    }
  }
}

.menuOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.menuContent {
  height: 100%;
  padding: 25px 15px;
  max-width: 370px;
  width: 100%;
  background-color: var(--color-black);
  margin-left: auto;
  position: relative;
  z-index: 5;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and (max-width: 500px) {
    max-width: 180px;
  }
}

.table {
  width: 100%;
}

.navigation {
  width: 250px;
  padding: 24px 0;
}

.footer {
  padding-bottom: 14px;
}

@media screen and (min-width: 1024px) {
  .burgerIcon {
    display: none;
  }
}
