.preloader {
  flex-grow: 1;
}

.pageTitle {
  font: var(--font-title-2);
  margin-bottom: 50px;
}

.appMain {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .preloader {
    min-height: calc(100vh - 73px);
  }
}
