.form {
  background-color: var(--color-dark);
  position: relative;
  z-index: 5;
  padding-top: 50px;
  padding-bottom: 26px;

  @media screen and (max-width: 700px) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 26px;
    align-items: flex-start;
  }
}

.formTitle {
  font: var(--font-title-2);
  margin-bottom: 24px;
}

.formText {
  font: var(--font-text-2);
  margin-bottom: 30px;
  max-width: 90%;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }

  @media screen and (max-width: 700px) {
    max-width: 500px;
  }

  a {
    color: var(--color-white);
    margin-left: 10px;
    overflow: hidden;
    margin-right: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: var(--color-white);

      &::after {
        left: 0;
      }
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      bottom: 0;
      background-color: var(--color-white);
      left: 100%;
      height: 1px;
      transition: left .2s ease-in;
    }
  }
}

.formArrowIcon {
  width: 15px;
  height: 15px;
  margin-left: 13px;
}


.form {
  :global {
    .ant-modal-mask {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(16px);
    }

    .ant-modal-content {
      max-width: 500px;
      border: var(--border-gray-1);
      border-radius: 10px;
      background-color: var(--color-black);
    }

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 38px 30px 30px;
    }

    .ant-modal-close-x {
      border-radius: 50%;
      border: var(--border-gray-1);
      width: 43px;
      height: 43px;
      top: 20px;
      right: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 27px;
        height: 27px;

        path {
          fill: var(--color-white);
        }
      }

      &:hover {
        background-color: var(--color-dark);
      }
    }

    .ant-form {
      .ant-form-item-has-error :not(.ant-input-disabled).ant-input,
      .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper,
      .ant-form-item-has-error :not(.ant-input-disabled).ant-input:hover,
      .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper:hover {
        border-color: var(--red-error-color);

        &::placeholder {
          color: var(--color-white);
        }
      }

      .ant-form-item-explain.ant-form-item-explain-error {
        color: var(--red-error-color);
      }
    }

    .ant-form-item {
      @media screen and (max-width: 900px) {
        margin-bottom: 20px;
      }
    }

    .ant-input {
      border-radius: 0;
      height: 48px;
      padding-left: 17px;
      padding-top: 10px;
      font: var(--font-text-3);

      @media screen and (max-width: 900px) {
        height: 40px;
        padding-top: 6px;
      }

      @media screen and (max-width: 700px) {
        font-size: 15px;
      }
    }

    .ant-btn {
      width: 100%;
      border-radius: 0;
      font: var(--font-text-3);
      color: var(--color-black);
      background-color: var(--green-color);
      height: 48px;
      border: none;

      &:hover {
        background-color: var(--darken-green-color);
      }

      @media screen and (max-width: 900px) {
        height: 40px;
      }

      @media screen and (max-width: 700px) {
        font-size: 15px;
      }
    }
  }
}

.formItemsWrapper {
  display: flex;
  gap: 24px;

  > div {
    max-width: 60%;
    width: 100%;
  }

  > div:last-of-type {
    max-width: 42%;
  }

  @media screen and (max-width: 900px) {
    gap: 20px
  }
}

.modalTitle {
  font: var(--font-text-1);
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 20px;
}

.modalText {
  font: var(--font-text-2);
  text-align: center;
}