@import '../../scss/abstracts/variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid $color-white;
  padding: 12px 24px;
}

.rightPart {
  display: flex;
  align-items: center;
}
