@import '../../scss/abstracts/variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-white;
  padding: 12px 24px;
}

.navigation {
  display: flex;

  & li {
    margin-right: 24px;
  }
}

.rightPart {
  display: flex;
  align-items: center;
}
