.teamTitle {
  font: var(--font-title-2);
  margin-bottom: 100px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.teamList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.teamItem {
  min-width: calc(20% - 8px);
  max-width: 214px;
  flex-shrink: 1;
  border: var(--border-gray-1);

  @media screen and (max-width: 1023px) {
    max-width: 240px;
    width: calc(25% - 8px);
  }

  @media screen and (max-width: 850px) {
    max-width: 260px;
    width: calc(33% - 8px);
  }

  @media screen and (max-width: 550px) {
    width: calc(50% - 5px);
  }
}

.teamPhoto {
  width: 100%;
  position: relative;
  z-index: 1;
}

.teamInfo {
  padding: 20px;
}

.teamName {
  font: var(--font-text-2);
  margin-bottom: 10px;
}

.teamPosition {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font: var(--font-text-3);

    @media screen and (max-width: 650px) {
      font-size: 15px;
    }
  }

  a:hover {
    opacity: .7;
  }
}