@import '../../scss/abstracts/variables.scss';

.root {
}

.table {
  margin-bottom: 2rem;
  & > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-1;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: $color-gray-2;
    font-size: 1.25rem;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.disconnectButton {
  padding: 0;
}
