.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font: var(--font-text-3);
  border-bottom: var(--border-gray-1);
  margin-bottom: 10px;
}

.name {
  margin-right: 20px;
}