

.firstSectionBg {
  height: calc(100vh - 110px);
  position: relative;
  background: url("../assets/images/greenBg.png") no-repeat right bottom / 70% 120%;
}

.hero {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  position: relative;

  &__bg {
    position: absolute;
    top: 5vh;
    right: -100px;
    max-width: 870px;
    width: 100%;
    height: 100%;
    max-height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;

    svg {
      & path {
        &:nth-child(odd) {
          transform-origin: center;
          animation: rotation 100s infinite linear;
        }

        &:nth-child(even) {
          transform-origin: center;
          animation: rotation 100s infinite linear;
          animation-direction: reverse;
        }
      }
    }
  }
}

.titleWrapper {
  max-width: 800px;
  margin-top: 10vh;
}

.mainTitle {
  font: var(--font-title-1);
  color: var(--color-white);
  text-transform: uppercase;
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  &::before {
    content: '';
    width: 47%;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--color-white);
  }
}

.subtitle {
  width: 47%;
  flex-shrink: 0;
  font: var(--font-text-1);
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}