@import '../../scss/abstracts/variables.scss';

.root {
  border-right: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;
  display: grid;
  color: $color-white;
  position: relative;
  padding: 3rem;
}

.title {
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.image {
  width: 100%;
}

.infoTable {
  padding-top: 1.5rem;

  & > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-1;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: $color-gray-2;
    font-size: 1rem;
  
    &:first-child {
      padding-top: 0;
    }
  
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
