@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

html {
  font: var(--font-text-3);
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-family-oxanium);
}

.frakt__notification {
  svg {
    fill: var(--color-gray-4);
  }

  background: var(--color-black) !important;
  border: 1px solid var(--color-gray-1);
  border-radius: 0 !important;

  :global {
    .ant-notification-notice-message {
      color: var(--color-white);
    }
  }
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
