@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

html {
  font: var(--font-text-3);
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-family-oxanium);
}

.frakt__notification {
  svg {
    fill: var(--color-gray-4);
  }

  background: var(--color-black) !important;
  border: 1px solid var(--color-gray-1);
  border-radius: 0 !important;

  :global {
    .ant-notification-notice-message {
      color: var(--color-white);
    }
  }
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;

  @media screen and (max-width: 1023px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: relative;
  overflow: hidden;
}

.itemForIntersectionMenu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  max-height: 100%;
  height: 400px;
  top: 10px;
  left: 0;
  font-size: 1px;
  width: 1px;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url("../images/noise.png");
    pointer-events: none;
    display: block;
    opacity: 1;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
  }
}

@keyframes grain {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-5%, -10%)
  }
  20% {
    transform: translate(-15%, 5%)
  }
  30% {
    transform: translate(7%, -25%)
  }
  40% {
    transform: translate(21%, 25%)
  }
  50% {
    transform: translate(-25%, 10%)
  }
  60% {
    transform: translate(15%, 5%)
  }
  70% {
    transform: translateY(15%)
  }
  80% {
    transform: translate(25%, 35%)
  }
  90% {
    transform: translate(-10%, 10%)
  }
}

@keyframes grain2 {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-1%, -2%)
  }
  20% {
    transform: translate(-3%, 1%)
  }
  30% {
    transform: translate(3%, -5%)
  }
  40% {
    transform: translate(5%, 5%)
  }
  50% {
    transform: translate(-5%, 2%)
  }
  60% {
    transform: translate(3%, 1%)
  }
  70% {
    transform: translateY(5%)
  }
  80% {
    transform: translate(5%, 7%)
  }
  90% {
    transform: translate(-2%, 2%)
  }
}
