.root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 140px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 20px;
  color: var(--color-gray-2);
}

@media screen and (max-width: 1023px) {
  .root {
    height: calc(100vh - 73px);
    padding: 0 32px;
  }
}
