.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 1px;
  background: var(--color-gray-1);
}

.link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  transition: background 0.2s ease-in, color 0.2s ease-in;
  font-size: 36px;
  text-align: center;
  background: var(--color-black);
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--color-black);
    background: var(--color-white);
  }
}

@media screen and (max-width: 1280px) {
  //.root {
  //  grid-template-columns: unset;
  //  grid-template-rows: repeat(2, 1fr);
  //}
}

@media screen and (max-width: 1023px) {
  .root {
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    height: calc(100vh - 120px);
  }

  .link {
    font-size: 24px;
  }
}
