.homeLayout {
  h2 {
    color: var(--color-white);
  }
}

.collection {
  border-top: 1px solid var(--color-gray-1);
  border-bottom: 1px solid var(--color-gray-1);
  padding: 60px 40px;

  &:last-child {
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
  }

  &__title {
    color: var(--color-white);
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 22px;
    color: var(--color-gray-5);
    text-align: justify;
    line-height: 31px;
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-white);
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 30px 20px;

    &__title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.artExamples {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 18px;
}

@media screen and (max-width: 1023px) {
  .artExamples {
    grid-template-columns: repeat(4, 1fr);

    &__example {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
