.firstSectionBg {
  height: calc(100vh - 110px);
  position: relative;
  background: url("./assets/images/greenBg.png") no-repeat center right;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url("./assets/images/noise.png");
    pointer-events: none;
    display: block;
    opacity: 1;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
  }
}

.hero {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  position: relative;

  &__bg {
    position: absolute;
    top: 5vh;
    right: -100px;
    max-width: 870px;
    width: 100%;
    height: 100%;
    max-height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;

    svg {
      & path {
        &:nth-child(odd) {
          transform-origin: center;
          animation: rotation 100s infinite linear;
        }

        &:nth-child(even) {
          transform-origin: center;
          animation: rotation 100s infinite linear;
          animation-direction: reverse;
        }
      }
    }
  }
}

.titleWrapper {
  max-width: 800px;
  margin-top: 10vh;
}

.mainTitle {
  font: var(--font-title-1);
  color: var(--color-white);
  text-transform: uppercase;
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  &::before {
    content: '';
    width: 47%;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--color-white);
  }
}

.subtitle {
  width: 47%;
  flex-shrink: 0;
  font: var(--font-text-1);
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    height: calc(100vh - 73px);

    &__title {
      font-size: 72px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  .title {
    font-size: 72px;
  }
}

.section {
  border-top: 1px solid var(--color-gray-1);
  border-bottom: 1px solid var(--color-gray-1);
  padding: 60px 40px;

  &:last-child {
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
  }

  &__title {
    color: var(--color-white);
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 22px;
    color: var(--color-gray-5);
    text-align: justify;
    line-height: 31px;
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-white);
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 30px 20px;

    &__title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.artExamples {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 18px;
}

@media screen and (max-width: 1023px) {
  .artExamples {
    grid-template-columns: repeat(4, 1fr);

    &__example {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

@keyframes grain {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-5%, -10%)
  }
  20% {
    transform: translate(-15%, 5%)
  }
  30% {
    transform: translate(7%, -25%)
  }
  40% {
    transform: translate(21%, 25%)
  }
  50% {
    transform: translate(-25%, 10%)
  }
  60% {
    transform: translate(15%, 5%)
  }
  70% {
    transform: translateY(15%)
  }
  80% {
    transform: translate(25%, 35%)
  }
  90% {
    transform: translate(-10%, 10%)
  }
}

@keyframes grain2 {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-1%, -2%)
  }
  20% {
    transform: translate(-3%, 1%)
  }
  30% {
    transform: translate(3%, -5%)
  }
  40% {
    transform: translate(5%, 5%)
  }
  50% {
    transform: translate(-5%, 2%)
  }
  60% {
    transform: translate(3%, 1%)
  }
  70% {
    transform: translateY(5%)
  }
  80% {
    transform: translate(5%, 7%)
  }
  90% {
    transform: translate(-2%, 2%)
  }
}
