.root {
  padding: 40px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--color-gray-4);
    top: 32px;
    bottom: 32px;
    left: 50%;
    margin-left: -1px;
  }
}

.item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  left: calc(50% + 2px);

  // Circle
  &::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--color-black);
    border: 2px solid var(--color-gray-4);
    top: 14px;
    border-radius: 50%;
    z-index: 1;
    left: -16px;
  }

  // Dash
  &::before {
    content: '';
    position: absolute;
    top: 28px;
    z-index: 1;
    left: 10px;
    background: var(--color-gray-4);
    width: 32px;
    height: 2px;
  }

  &:nth-child(odd) {
    left: 0;

    // Circle
    &::after {
      left: unset;
      right: -14px;
    }

    // Dash
    &::before {
      left: unset;
      right: 10px;
    }
  }

  &_checked {
    &::after {
      background-color: var(--color-white);
      border: 2px solid var(--color-white);
    }
    &::before {
      background: var(--color-white);
    }

    .item__content {
      border: 2px solid var(--color-white);
    }

    .item__title {
      color: var(--color-white);
    }

    .item__content {
      color: var(--color-white);
    }
  }

  &__content {
    padding: 20px 30px;
    background-color: var(--color-black);
    border: 2px solid var(--color-gray-4);
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-gray-4);
  }

  &__title {
    color: var(--color-gray-4);
    font-size: 38px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .root {
    padding: 24px 0;
  }
  .item {
    &__content {
      padding: 10px 15px;
      font-size: 14px;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .root {
    margin: 0 -20px;
    padding: 12px 24px;
    &::after {
      top: 18px;
      bottom: 18px;
      left: 32px;
      margin-left: -1px;
    }
  }

  .item {
    padding: 12px 0 12px 32px;
    width: 100%;
    left: unset;

    &::after {
      width: 20px;
      height: 20px;
      top: 20px;
      left: -2px;
      right: unset;
    }

    &::before {
      top: 29px;
      left: 10px;
      width: 22px;
    }

    &:nth-child(odd) {
      left: 0;

      // Circle
      &::after {
        left: -2px;
        right: unset;
      }

      // Dash
      &::before {
        left: 10px;
        right: unset;
      }
    }

    &__content {
      padding: 10px 15px;
      font-size: 14px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}
