@import '../../../../scss/abstracts/variables.scss';

.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.artExample {
  border: {
    right: 1px solid $color-gray-1;
    bottom: 1px solid $color-gray-1;
  }
  &:nth-child(4n + 4) {
    border-right: none;
  }
  &:nth-child(n + 5) {
    border-bottom: none;
  }
}
