@import '../../scss/abstracts/variables.scss';

.root {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}