@import '../../scss/abstracts/variables.scss';

.root {
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.generatedCounter {
  font-size: 18px;
}
