@import '../../scss/abstracts/variables.scss';

.root {
  font: var(--font-text-2);
  color: var(--color-white);

  &:hover {
    color: var(--color-white);
  }
}

.generatedCounter {
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .root {
    font-size: 28px;
  }
  .generatedCounter {
    display: none;
  }
}
