@import '../../scss/abstracts/variables.scss';

.root {
  font: var(--font-text-2);
  color: var(--color-white);
  text-transform: uppercase;

  &:hover {
    color: var(--color-white);
  }
}

.generatedCounter {
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .generatedCounter {
    display: none;
  }
}
